* {
    box-sizing: border-box;
}

body {
    font-family:  Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #2f7ebf;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    background: #ccc;
    padding: 20px;
    
    
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #252b7c;
    padding: 10px;
    text-align: center;
    color: white;
}
    .bild {
    max-width: 100%;
    height: auto;
        }

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 700px) {
    nav, article {
        width: 100%;
        height: auto;
    }
    .bild {
    max-width: 100%;
    height: auto;
        }  
}
    